<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>趣听云音乐——登录</title>
    <script src="js/vue.js"></script>
    <script src="js/axios-0.18.0.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>

<div>
    <img src="img/background_login.jpg" alt="" class="background">
</div>
<div id="app">
    <img src="img/title.png" alt="" class="title">
    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="60px" class="music_form">
        <el-form-item label="账号" prop="userId" class="user">
            <el-input type="text" v-model="ruleForm.userId" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="密码" prop="userPwd">
            <el-input type="password" v-model="ruleForm.userPwd" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="login" id="loginButton">登录</el-button>
            <el-button @click="register">注册</el-button>
        </el-form-item>
    </el-form>
</div>

</body>
<script src="js/login.js"></script>
</html>